
# PANDAS

## Skills : Data Manipulation with Numpy and Pandas

Datalar klasöründeki datalari pandas dataframe ile okutup alttaki işlemleri yapiniz.
1.	Tum ogrencilerin bilgilerini tek bir dataframe icinde su sutunlardan olusacak sekilde birlestiriniz; 
> " Sinif ismi,Ogrenci Adi, Dogru Sayisi, Yanlis Sayisi, Bos Sayisi" .
2.	Sinava giren ogrenci sayisini hesaplayiniz.
3.	Siniflarin ayri ayri Dogru yanlis bos ortalamalarini hesaplayiniz.
4.	Her sinifin ayri ayri en basarili ogrencisini bulunuz.
5.	Tum sinavin en basarili ilk 3 ogrencisini bulunuz.
6.	Siniflarin standart sapmalarini hesaplayiniz. (Dogru sayilari uzerinden)
7.	Sinavin dogru yanlis ve bos ortalamalarini hesaplayiniz.

In [1]:
import numpy as np
import pandas as pd
import os

# 1. Tum ogrencilerin bilgilerini tek bir dataframe icinde su sutunlardan olusacak sekilde birlestiriniz;
    # Sinif ismi,Ogrenci Adi, Dogru Sayisi, Yanlis Sayisi, Bos Sayisi" .

In [2]:
files = os.listdir('./')
filesxlxs = [pd.ExcelFile(i) for i in files  if i.endswith ('.xlsx')] # bulundugumuz klasordeki tum excellleri exel formatinda aliyoruz
filesxlxs_names = [i[:-5] for i in files if i[-5:] =='.xlsx']
classes = []
student_names =[]
true = []
false = []
empty = []
count = 0

for i in filesxlxs:                              #tum excellerde dongu   
    for j in range(len(i.sheet_names)):          # excel icinde sayfalarda dongu
        classes +=[str(filesxlxs_names[count])]
        data = pd.read_excel(i, i.sheet_names[j])
        student_names+= [data.columns[0]]
        if  isinstance(data.iloc[-1,1],int):   #zerrin yanlis yere girilmis ama asagidan itibaren alinca problem cozulduu         
            true +=[data.iloc[-3,1]]
            false +=[data.iloc[-2,1]]
            empty += [data.iloc[-1,1]]           
        else:                                #Selcuk verileri girilmemis none atiyoruz
            true += [None]
            false += [None]
            empty +=[None]
    count += 1

students = pd.DataFrame({"Class": classes, 
                         "Name": student_names,
                         "Trues" :true,
                         "Falses": false,
                         "Empties": empty}) 

students.index = students.index +1
students

         Class          Name  Trues  Falses  Empties
1      py_mind  Emrullah Gul   14.0     6.0      0.0
2      py_mind      Osman Ay    9.0    11.0      0.0
3      py_mind         Ozgur    9.0    11.0      0.0
4      py_mind     Emrah buy    9.0    11.0      0.0
5      py_mind          Riza    7.0    12.0      1.0
6      py_mind          Zeyd   13.0     6.0      1.0
7      py_mind       Ufuk Do   15.0     2.0      3.0
8      py_mind    Mehmet A.O   10.0    10.0      0.0
9      py_mind       Murat Z    9.0    11.0      0.0
10     py_mind     Hakan Yil   14.0     6.0      0.0
11  py_opinion       Emrah U   13.0     7.0      0.0
12  py_opinion      Salih Ar   10.0    10.0      0.0
13  py_opinion      Murat Oz   14.0     6.0      0.0
14  py_opinion       Aydin D   10.0    10.0      0.0
15  py_opinion        Ilhami   12.0     8.0      0.0
16  py_opinion     Ibrahim F    9.0    11.0      0.0
17  py_opinion       Ensar B    6.0    14.0      0.0
18  py_opinion       Nazmi D   15.0     5.0      0.0
19  py_opinion    Mehmet Kar   13.0     7.0      0.0
20  py_opinion        Naim U   15.0     5.0      0.0
21  py_science      Dilek Ko   17.0     2.0      1.0
22  py_science      Zerin Oz   15.0     1.0      4.0
23  py_science      Beyza Ay   12.0     5.0      3.0
24  py_science       Esra Te   12.0     8.0      0.0
25  py_science       Sehri G   20.0     0.0      0.0
26  py_science     Emine Ser   11.0     6.0      3.0
27  py_science      Emine Tu   16.0     3.0      1.0
28  py_science     Rukiye Ay    9.0     7.0      4.0
29    py_sense      Ramazan    10.0    10.0      0.0
30    py_sense         Faruk   16.0     4.0      0.0
31    py_sense   Huseyin Tun   14.0     6.0      0.0
32    py_sense      Selcuk D    NaN     NaN      NaN
33    py_sense      Adnan Av   14.0     5.0      1.0
34    py_sense          Kaya   11.0     9.0      0.0
35    py_sense        Zafer    12.0     7.0      1.0
36    py_sense      Mehmet A   11.0     9.0      0.0
37    py_sense      Fikret Y   10.0    10.0      0.0
38    py_sense      Emrah Ak   11.0     9.0      0.0

# 2.Sinava giren ogrenci sayisini hesaplayiniz.

In [3]:
len(students)

38

# 3. Siniflarin ayri ayri dogru yanlis bos ortalamalari:

In [4]:
table = pd.pivot_table(students, index = 'Class', values = ["Trues",'Falses','Empties'] ,fill_value=0)  #We can also fill missing values using the fill_value parameter.
table

             Empties    Falses      Trues
Class
py_mind     0.500000  8.600000  10.900000
py_opinion  0.000000  8.300000  11.700000
py_science  2.000000  4.000000  14.000000
py_sense    0.222222  7.666667  12.111111

# 4.Her sinifin ayri ayri en basarili ogrencisini bulunuz.

In [52]:
students["Result"] =students["Trues"]-students["Falses"]/4
students

         Class          Name  Trues  Falses  Empties  Result
1      py_mind  Emrullah Gul   14.0     6.0      0.0   12.50
2      py_mind      Osman Ay    9.0    11.0      0.0    6.25
3      py_mind         Ozgur    9.0    11.0      0.0    6.25
4      py_mind     Emrah buy    9.0    11.0      0.0    6.25
5      py_mind          Riza    7.0    12.0      1.0    4.00
6      py_mind          Zeyd   13.0     6.0      1.0   11.50
7      py_mind       Ufuk Do   15.0     2.0      3.0   14.50
8      py_mind    Mehmet A.O   10.0    10.0      0.0    7.50
9      py_mind       Murat Z    9.0    11.0      0.0    6.25
10     py_mind     Hakan Yil   14.0     6.0      0.0   12.50
11  py_opinion       Emrah U   13.0     7.0      0.0   11.25
12  py_opinion      Salih Ar   10.0    10.0      0.0    7.50
13  py_opinion      Murat Oz   14.0     6.0      0.0   12.50
14  py_opinion       Aydin D   10.0    10.0      0.0    7.50
15  py_opinion        Ilhami   12.0     8.0      0.0   10.00
16  py_opinion     Ibrahim F    9.0    11.0      0.0    6.25
17  py_opinion       Ensar B    6.0    14.0      0.0    2.50
18  py_opinion       Nazmi D   15.0     5.0      0.0   13.75
19  py_opinion    Mehmet Kar   13.0     7.0      0.0   11.25
20  py_opinion        Naim U   15.0     5.0      0.0   13.75
21  py_science      Dilek Ko   17.0     2.0      1.0   16.50
22  py_science      Zerin Oz   15.0     1.0      4.0   14.75
23  py_science      Beyza Ay   12.0     5.0      3.0   10.75
24  py_science       Esra Te   12.0     8.0      0.0   10.00
25  py_science       Sehri G   20.0     0.0      0.0   20.00
26  py_science     Emine Ser   11.0     6.0      3.0    9.50
27  py_science      Emine Tu   16.0     3.0      1.0   15.25
28  py_science     Rukiye Ay    9.0     7.0      4.0    7.25
29    py_sense      Ramazan    10.0    10.0      0.0    7.50
30    py_sense         Faruk   16.0     4.0      0.0   15.00
31    py_sense   Huseyin Tun   14.0     6.0      0.0   12.50
32    py_sense      Selcuk D    NaN     NaN      NaN     NaN
33    py_sense      Adnan Av   14.0     5.0      1.0   12.75
34    py_sense          Kaya   11.0     9.0      0.0    8.75
35    py_sense        Zafer    12.0     7.0      1.0   10.25
36    py_sense      Mehmet A   11.0     9.0      0.0    8.75
37    py_sense      Fikret Y   10.0    10.0      0.0    7.50
38    py_sense      Emrah Ak   11.0     9.0      0.0    8.75

In [50]:
for i in filesxlxs_names:
    print(students.loc[students['Class'] == i].sort_values(by="Result",ascending=False).head(1))

     Class     Name  Trues  Falses  Empties  Result
7  py_mind  Ufuk Do   15.0     2.0      3.0    14.5
         Class     Name  Trues  Falses  Empties  Result
18  py_opinion  Nazmi D   15.0     5.0      0.0   13.75
         Class     Name  Trues  Falses  Empties  Result
25  py_science  Sehri G   20.0     0.0      0.0    20.0
       Class   Name  Trues  Falses  Empties  Result
30  py_sense  Faruk   16.0     4.0      0.0    15.0

In [64]:
table = pd.pivot_table(students, index = ['Class', "Name"], values = "Result" ,aggfunc={"Result":np.max})
table

                         Result
Class      Name
py_mind    Emrah buy       6.25
           Emrullah Gul   12.50
           Hakan Yil      12.50
           Mehmet A.O      7.50
           Murat Z         6.25
           Osman Ay        6.25
           Ozgur           6.25
           Riza            4.00
           Ufuk Do        14.50
           Zeyd           11.50
py_opinion Aydin D         7.50
           Emrah U        11.25
           Ensar B         2.50
           Ibrahim F       6.25
           Ilhami         10.00
           Mehmet Kar     11.25
           Murat Oz       12.50
           Naim U         13.75
           Nazmi D        13.75
           Salih Ar        7.50
py_science Beyza Ay       10.75
           Dilek Ko       16.50
           Emine Ser       9.50
           Emine Tu       15.25
           Esra Te        10.00
           Rukiye Ay       7.25
           Sehri G        20.00
           Zerin Oz       14.75
py_sense   Adnan Av       12.75
           Emrah Ak        8.75
           Faruk          15.00
           Fikret Y        7.50
           Huseyin Tun    12.50
           Kaya            8.75
           Mehmet A        8.75
           Ramazan         7.50
           Zafer          10.25

# 5. Tum sinavin en basarili ilk 3 ogrencisini bulunuz.

In [58]:
students.sort_values(by="Result",ascending=False).head(3)

         Class      Name  Trues  Falses  Empties  Result
25  py_science   Sehri G   20.0     0.0      0.0   20.00
21  py_science  Dilek Ko   17.0     2.0      1.0   16.50
27  py_science  Emine Tu   16.0     3.0      1.0   15.25

# 6. Siniflarin standart sapmalarini hesaplayiniz. (Dogru sayilari uzerinden)

In [70]:
table = pd.pivot_table(students, index = ['Class'], values = "Trues" ,aggfunc={"Trues":np.std})
table

               Trues
Class
py_mind     2.806738
py_opinion  2.907844
py_science  3.625308
py_sense    2.088327

# 7. Sinavin dogru yanlis ve bos ortalamalarini hesaplayiniz.

In [72]:
students.describe().T

         count       mean       std  min   25%   50%   75%   max
Trues     37.0  12.081081  2.975627  6.0  10.0  12.0  14.0  20.0
Falses    37.0   7.297297  3.298694  0.0   5.0   7.0  10.0  14.0
Empties   37.0   0.621622  1.186764  0.0   0.0   0.0   1.0   4.0
Result    37.0  10.256757  3.757163  2.5   7.5  10.0  12.5  20.0